document{
    margin-bottom: 0 !important;
}


body{
  text-align:center;
  background-image: url("budgetbg.JPG");
}

.title{
  text-align:center;
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: #30475e;
  color: white;
  margin-right: 0;
}

.leftside{
   margin: 30px auto;
   background-color: white;
   border-radius: 30px;
}

.rightside{
   margin: 30px auto;
      background-color: #dbdbdb;
      border-radius: 30px;
}


button{

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;

  border-radius: 20px;
}

p{
  padding-top: 30px;
}

input{
  text-align:center;
}

h4{
  padding-bottom: 30px;
  padding-top:25px;
}

#calculatedvalues{
  margin-bottom: 50px;
  padding-top:30px;

}
